@import '../../css/variables';
@import '../../css/utilities';

.skill {
  text-align: left;
  
  .progress {
    width: 100%;
    height: 0.8rem;
    background-color: #eeeeee;
    border-radius: 2px;
    margin-bottom: .3rem;

    & > div {
      background-color: $primary-color;
      border-radius: 2px;
      height: 100%;
    }
  }
}
