@import './variables.scss';
@import './utilities.scss';
@import './mobile.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 18px;
  line-height: 1.6rem;
}

#header {
  background: $showcase-image no-repeat center center/cover;
  height: 100vh;

  #navbar {
    width: 100%;
    position: absolute;
    @extend %navbar;
  }
  
  .container {
    position: relative;
    height: 100%;

  }

  .showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;

    .textCursor {
      border-right: 1px solid $primary-color;
    }
  }
}
